# Local configuration options go here (defaults are in /usr/share/logwatch/default.conf/logwatch.conf)
Service = "-zz-disk_space"
Service = "-postfix"
Service = "-xntpd"
Service = "-sshd"
Service = "-sudo"
Service = "-pam_unix"